<table>
    <tr>
        <th>ID</th>
        <th>Description</th>
        <th></th>
    </tr>
    {% for transaction in transactions %}
    <tr>
        <td>{{ transaction.id }}</td>
        <td>{{ transaction.description }}</td>
        <td>
            <button hx-delete="/transactions/{{ transaction.id }}" hx-target="#content">Delete</button>
        </td>
    </tr>
    {% endfor %}
</table>

