<form hx-post="/transactions" hx-target="#content">
    <div>
        <label for="description">Description: </label>
        <input type="text" name="description" id="description" required />
    </div>
    <input type="submit" value="Create" />
</form>
