{% extends "base.html" %}
{% block title %}Le Index{% endblock title %}
{% block head %}
    {{ super() }}
{% endblock head %}
{% block content %}
    <h1>Index</h1>
    Hier geht es zur <a class="nav-link" href="/articles">Liste</a>
{% endblock content %}






